<!-- Sub-header -->

<div class="bg-secondary text-white fixed-top py-2" style="top: 18px">

	<div class="row">
		<!-- Left side content -->
		<div class="col-6 d-flex justify-content-start">
			<img src="/res/media/dcgsalogo.png" alt="DCGSA Logo" id="navLogo" class="ms-1">
			
			<!-- App List Dropdown Menu -->
			<div class="dropdown ms-1">
				<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="appsDropdownMenuButton" aria-expanded="false" onclick="AppSelectUi.toggleAppBar();">
					{#icons/apps /} Apps
				</button>
			</div>
			<h1 class="h6 ms-3 mt-auto mb-auto" id="navBarAppNameLabel">
				{app.name}
			</h1>
		</div>
		
		<div class="col-6 d-flex justify-content-end">
			{#if !defaultScreen}
			<a href="/app/viewer" class="btn btn-secondary btn-sm ms-1">
				{#icons/closeApp /} Close App
			</a>
			{/if}
			<div class="dropdown">
				<button class="btn btn-secondary btn-sm me-1 dropdown-toggle" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
					{#icons/user /} {user.getName()}
				</button>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
					<li><a class="dropdown-item" href="javascript:AppSelectUi.openApp('profile');">{#icons/user /} Profile</a></li>
					<li><a class="dropdown-item" href="/logout" id="logoutButton">{#icons/logout /} Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="appSelectBar" class="p-1">
		{#let barApps=cdi:ApplicationInfoRepository.getAppBarApps()}
			<div id="appSelectBarFilterContainer">
				<div class="input-group input-group-sm">
					<span class="input-group-text">{#icons/search /}</span>
					<button class="btn btn-light" type="button" id="appSelectBarFilterClearInput" onclick="AppSelectUi.clearFilter();" disabled>{#icons/clearInput /}</button>
					<input id="appSelectBarFilterInput" type="text" class="form-control form-control-sm" placeholder="Filter..." aria-label="Filter" oninput="AppSelectUi.filterApps();" {#if barApps.isEmpty()}disabled{/if}>
				</div>
			</div>
			<div id="appSelectAppsDisplay" class="mt-1 pb-3">
				{#if barApps.isEmpty()}
					<div class="alert alert-light" id="noAppsAvailableAlert" role="alert">
						No Apps available.
					</div>
				{#else}
					{#for application in barApps}
					{#let isCurApp=(application.reference.equals(curApp.reference))}
					{#let appName=(application.name)}
					{#let appId=(application.id)}
					{#let isFav=profile.isFavoriteSet(appName)}
					<div class="card appSelectCard me-1 {#if isCurApp}appSelectCardSelected{/if}" id="appSelectCard-{application.id}" data-searchText="{application.name.toLowerCase()}">
						<div class="position-relative">
							{#if application.image is null}
							<!-- No image specified for app -->
							<div class="card-img-placeholder">
								<!-- Optionally, you can show a default icon or text here -->
								
							</div>
							{#else}
							<img src="{application.image}" class="card-img-top appSelectImage" alt="{application.name} image">
							{/if}
							<div id="favorite-icon-{application.id}">
								<span class="position-absolute top-0 end-0 p-1" style="cursor: pointer;" onclick="toggleFavorite($(this), '{appId}', '{appName}');">
									<i class="bi bi-star-fill text-warning favIconFavorited" {#if !isFav}style="display:none"{/if}></i>
									<i class="bi bi-star text-warning favIconNotFavorited" {#if isFav}style="display:none"{/if}></i>
								</span>
							</div>
						</div>
						<div class="card-body p-1 text-center">
							<h2 class="card-title h6 appSelectTitle">
								{application.name}
							</h2>
							<div class="d-grid gap-2">
								<div class="btn-group" role="group" aria-label="{application.name} navigation buttons">
									{#if isCurApp}
										<button class="btn btn-outline-primary btn-sm" title="Start fresh in current window." onclick="AppSelectUi.openApp('{application.reference}');">
											{#icons/refreshAppHere /}
										</button>
									{#else}
										<button class="btn btn-outline-primary btn-sm" title="Open app in this window." onclick="AppSelectUi.openApp('{application.reference}');" {#if isCurApp}disabled{/if}>
											{#icons/openAppHere /}
										</button>
									{/if}
									<button type="button" class="btn btn-sm btn-outline-primary" title="Open app in new window." onclick="AppSelectUi.openApp('{application.reference}', true);AppSelectUi.toggleAppBar();">
										{#icons/openAppNew /}
									</button>
								</div>
							</div>
						</div>
					</div>
					{/let}
					{/for}
				{/if}
			</div>
		{/let}
	</div>
</div>