.grid {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 10px 1fr;
}

.gutter {
    background-color: rgb(229, 231, 235);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
    background-image: url(/res/media/gutter-vertical.png);
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
    background-image: url(/res/media/gutter-horizontal.png);
}


.gutter-col-1 {
    grid-column: 2;
}
.gutter-row-1 {
    grid-row: 2;
}

        /* Fixed Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007a33;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    font-size: 0.75rem;
    z-index: 1000;
}

/* Fixed Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #007a33;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    font-size: 0.75rem;
    z-index: 1000;
}
/* Main Content */
.content {
    margin-top: 18px; /* Space below the header */
    margin-bottom: 18px; /* Space above the footer */
    padding: 20px;
    background-color: #f4f4f4;
}