{! ncols nrows !}

{!{#for cRow in nRows}!}
    {!{#for cCol in nCols}!}
{!!}
{!!}
{!!}
    {!{/for}!}
{!{/for}!}


<div>
    <iframe src="/viewer/pane" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%"
            width="100%"></iframe>
</div>
<div class="gutter gutter-col gutter-col-1" data-bs-track="1"></div>
<div>
    <iframe src="/viewer/pane" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%"
            width="100%"></iframe>
</div>
<div>
    <iframe src="/viewer/pane" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%"
            width="100%"></iframe>
</div>
<div class="gutter gutter-row gutter-row-1" data-bs-track="1"></div>
<div>
    <iframe src="/viewer/pane" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%"
            width="100%"></iframe>
</div>