/* Main Content */
.content {
    position: absolute;
    top: 36px; /* Space below header and sub-header */
    bottom: 18px; /* Space above footer */
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}
.content iframe {
    width: 100%;
    height: 100%;
    border: none;
}
