/* Main Content */
.content {
    position: absolute;
    top: 36px; /* Space below header and sub-header */
    bottom: 18px; /* Space above footer */
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

textarea {
    overflow-y: scroll;
    height: 200px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.message-list:hover {
    color: var(--white);
    background: var(--darkblue); 
}

.table-clickable tbody tr {
    cursor: pointer;
}

