
#appSelectBar {
	margin: 3px;
	background-color: #333333;
	display: none;
	border-radius: 5px;
}

div.appSelectCard {
	width: 125px;
	display: inline-block;
}

.appSelectTitle {
	max-width: 120px; 
	margin: 0 auto; 
	white-space: normal; 
	overflow-wrap: break-word;
	min-height: 2.5em; /* Forces a minimum height for the title */
}

img.appSelectImage {
	max-width: 100%;
	max-height: 100px;
}

div#appSelectAppsDisplay {
	overflow: auto;
	white-space: nowrap;
}

div.appSelectCardSelected {
	border-style: ridge;
	border-width: 5px;
	border-color: rgb(134, 255, 94);
}

#appSelectBarFilterContainer {
	-webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0));
}