/* Main Content */
.content {
    position: absolute;
    top: 56px; /* Space below header and sub-header */
    bottom: 18px; /* Space above footer */
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

textarea {
    overflow-y: scroll;
    height: 200px;
}


.table-clickable tbody tr {
    cursor: pointer;
}

textarea#messageContent {
    background: darkslategray;
    color: white;
}

#message-table {
    max-height: 150px;
    overflow-y: auto;
    display: block;
    position: relative;
}

#message-table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

#message-content {
    border: 1px solid #ddd;
    padding: 10px;
    height: 70%;
    overflow-y: auto;
    white-space: pre-wrap;
}

tr:hover {
    cursor: pointer;
}

.btn {
    width: 100px !important;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
}

.dropdown-menu {
    min-width: 100px !important;
}

.dropdown-item {
    padding: 0px 5px !important;
    font-size: 12px !important;
}

div.scrollmenu {
  background-color: #333;
  overflow-x: scroll;
  white-space: nowrap;
}

/*div.scrollmenu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}*/

div.scrollmenu img:hover {
  background-color: #777;
}

div.scrollmenu div { 
    display: inline-block; 
    min-width: 100px;
    max-width: 100px;
    background-color: #f0f0f0; 
    text-align: center; 
    border: 1px solid #ccc;
}

.clickable-app {
    width: 100px; /* Size of the icon image */ 
    position: relative;
    display: inline-block;
    text-align: center; 
    margin: 0px; 
    text-decoration: none; 
    color: black; 
    position: relative; 
}

.clickable-app img { 
    width: 100px; /* Size of the icon image */ 
    height: 100px; /* Size of the icon image */ 
    display: block; 
    margin: 0 auto; 
    cursor: pointer;
} 

.clickable-app img.overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.clickable-app .corner-button { 
    position: absolute; 
    top: 0; 
    right: 0; /* Position the button in the upper right corner */ 
    width: 30px;
    height: 30px; 
    background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent background */ 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    font-size: 16px; 
    border: none; cursor: pointer;
    z-index: 1; /* Ensure the button is on top of the image */
}

.clickable-app .corner-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
