/* Body of the page with background image */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#navLogo {
    width: 65px;
    height: 30px;
}

/* Main Content */
.content {
    position: absolute;
    top: 65px; /* Space below header and sub-header */
    bottom: 18px; /* Space above footer */
    left: 0;
    right: 0;
    overflow: hidden;
}