body {
    font-family: Arial, sans-serif;
    background-image: url('/res/media/helmet-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
