{#include base.qute.html}

{#css}
        <link rel="stylesheet" href="/res/css/appSelectBar.css">
{/css}

{#title}{#if !app.name.isBlank()}{app.name} - {/if}DCGSA - AZIDE{/title}

{#subheader}
	{#include components/subheader-auth curApp=app defaultScreen=defaultScreen}{/}
{/subheader}

{#contents}
	{#include components/appviewer-iframe app=app }{/}
{/contents}

{#scripts}
	<script>
		let apps = {
		{#for application in cdi:ApplicationInfoRepository.getAllApps()}
			"{application.reference}": {
				"id": "{application.id}",
				"name": "{application.name}",
				"ref": "{application.reference}",
			},
		{/for}
		}
	</script>
    <script src="/res/js/iwc.js"></script>
    <script src="/res/js/AzideWindow.js"></script>
    <script src="/res/js/profile.js"></script>
    <script>
        let azideWin = new AzideWindow({ });
    </script>
    <script src="/res/js/AppSelectUi.js"></script>
{/scripts}
