{#include base.qute.html}

{#title}DCGSA - AZIDE{/title}

{#css}
        <link rel="stylesheet" href="/res/css/aup.qute.css">
{/css}

{#subheader}
        {#include components/subheader-aup}{/}
{/subheader}

{#contents}
	<body>
		<div class="container" id="aupMessage">
			<h1>Acceptable Use Policy</h1>
			<p>Welcome to our Acceptable Use Policy (AUP) page. By using our service, you agree to the following terms...</p>
			<div class="buttons">
				<a href="/app/viewer" class="btn btn-primary" id="aupAcceptButton">OK</a>
				<a href="/logout" class="btn btn-warning" id="aupDeclineButton">Decline</a>
			</div>
		</div>
	</body>
{/contents}

{#scripts}
        <script>
        window.onload = function() {
			document.getElementById('aupAcceptButton').focus();
		}
        </script>
{/scripts}
