<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="UTF-8">
    <title>Hello {name ?: "Qute"}</title>
    <link href="/res/lib/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/res/lib/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <style>
    </style>
</head>
<body class="min-vh-100 vstack">

<div class="container-fluid min-vh-100 d-flex flex-column" style="">
    <main class="col" id="mainContent">
        <h1>
            Hello {user.getName()}
        </h1>
        <ol>
            {#for curProvidedSite in providedSites}
                <li>{curProvidedSite.getTitle()}</li>
            {/for}
        </ol>
    </main>
</div>

<script src="/res/lib/jquery/3.7.1/jquery.min.js.js"></script>
<script src="/res/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/res/lib/htmx/2.0.2/htmx.min.js"></script>
<script src="/res/lib/htmx/extensions/json-enc/2.0.1/json-enc.js"></script>
<script>

</script>
</body>
</html>
