<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/res/lib/bootstrap/5.3.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="/res/lib/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/res/css/base.css">
	<link rel="stylesheet" href="/res/css/profile.css">
	<style>
	</style>
</head>
<html lang="en_us">
    <body>
		<h1 class="text-light">Profile</h1>
		<p class="text-light">Username: {user.getName()}</p>
		<p class="text-light">Person: {profile.getName()}</p>
		{#if profile.getFavorites().isEmpty}
		<p class="text-light">No Favorite Apps found!</p>
		{/if}
    </body>
</html>