<!DOCTYPE html>
<html lang="en_us">
    <head>
        <meta charset="UTF-8">
        <title>DCGSA - Azide</title>
        <link href="/res/lib/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/res/lib/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
        <style>
            html, body, .grid {
                height: 100%;
                padding: 0;
            }
            {#include components/viewer/viewerCss.qute.css /}

        </style>
    </head>
    <body>
        <!-- Header -->
        <header class="text-white text-center fixed-top" style="background-color:{classificationBanner.getColor()};font-size:0.75rem">
            {classificationBanner.getClassification()}
        </header>

        <!-- Sub-header -->
        <div class="bg-secondary text-white fixed-top py-2" style="top: 18px">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <!-- Left: Image -->
                <img src="/res/media/dcgsalogo.png" alt="DCGSA Logo" width="65" height="30">

                <!-- Right: Dropdown Menu -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        {user.getName()}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Content with Iframe -->
        <div class="content">
            <iframe src="/app/viewer/pane" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
        </div>

        <!-- Footer -->
        <footer class="text-white text-center fixed-bottom" style="background-color: {classificationBanner.getColor()};font-size:0.75rem">
            {classificationBanner.getClassification()}
        </footer>

        <script src="/res/lib/jquery/3.7.1/jquery.min.js.js"></script>
        <script src="/res/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
        <script src="/res/lib/htmx/2.0.2/htmx.min.js"></script>
        <script src="/res/lib/htmx/extensions/json-enc/2.0.1/json-enc.js"></script>
        <script src="/res/lib/split-grid-js/1.0.11/split-grid.js"></script>
        <script>
        </script>
    </body>
</html>
