<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="UTF-8">
    <title>Azide Viewer</title>
    <link href="/res/lib/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/res/lib/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <style>
        html, body, .grid {
            height: 100%;
            padding: 0;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 10px 1fr;
            grid-template-rows: 1fr 10px 1fr;

        }

        .vertical-gutter {
            grid-area: 1 / 2 / 4 / 2;
            border: solid 1px red;
        }

        .horizol-gutter {
            grid-area: 2 / 1 / 2 / 4;
            border: solid 1px red;


        }
    </style>
</head>
<body>


<div class="grid">
    <div>
        <iframe src="/" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
    </div>
    <div>
        CSS
    </div>
    <div>
        JS
    </div>
    <div>
        Result
    </div>
    <div class="horizontal-gutter">
    </div>
    <div class="vertical-gutter">
    </div>
</div>



<script src="/res/lib/jquery/3.7.1/jquery.min.js.js"></script>
<script src="/res/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/res/lib/htmx/2.0.2/htmx.min.js"></script>
<script src="/res/lib/htmx/extensions/json-enc/2.0.1/json-enc.js"></script>
<script src="/res/lib/split-grid-js/1.0.11/split-grid.js"></script>
<script>
    Split({
        columnGutters: [{
            track: 1,
            element: document.querySelector('.vertical-gutter'),
        }],
        rowGutters: [{
            track: 1,
            element: document.querySelector('.horizontal-gutter'),
        }]
    })
</script>
</body>
</html>
