<!DOCTYPE html>
<html lang="en_us">
<head>
    <meta charset="UTF-8">
    <title>Azide Viewer</title>
    <link href="/res/lib/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/res/lib/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <style>
        {!TODO:: figure out how to do this so the navbar doesn't push the rest down!}
        html, body, .grid {
            height: 100%;
            padding: 0;
        }
        {#include components/viewer/viewerCss.qute.css /}

    </style>
</head>
<body>

{!TODO:: figure out how to do this so the navbar doesn't push the rest down!}
{!<nav class="navbar bg-body-tertiary">!}
    {!<div class="container-fluid">!}
        {!<a class="navbar-brand" href="#">Navbar</a>!}
    {!</div>!}
{!</nav>!}
<header style="background-color:{classificationBanner.getColor()}">{classificationBanner.getClassification()}</header>
<div class="content grid" id="pageGrid">
        {#include components/viewer/viewerHtml /}
</div>
<footer style="background-color:{classificationBanner.getColor()}">{classificationBanner.getClassification()}</footer>

<script src="/res/lib/jquery/3.7.1/jquery.min.js.js"></script>
<script src="/res/lib/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/res/lib/htmx/2.0.2/htmx.min.js"></script>
<script src="/res/lib/htmx/extensions/json-enc/2.0.1/json-enc.js"></script>
<script src="/res/lib/split-grid-js/1.0.11/split-grid.js"></script>
<script>
        {#include components/viewer/viewerJs.qute.js /}
</script>
</body>
</html>
