{#if profiles.isEmpty}
<tr>
    <td colspan="2" class="text-center">
        No Profiles to display!
    </td>
</tr>
{#else}
{#for curProfile in profiles}
    <tr id="profile-row-{curProfile.id}" data-bs-toggle="modal" data-bs-target="#editModal" data-profile-data="{curProfile.toJSON()}" onclick="showDetails('{profile.id}','{curProfile.id}')">
        <td>
            {curProfile.username}
        </td>
        <td>
            {curProfile.getFormattedLastLogin()}
        </td>
    </tr>
{/for}
{/if}
