<!-- Sub-header -->
<div class="bg-secondary text-white fixed-top py-2" style="top: 18px">
		<div class="row">
			<!-- Left side content -->
			<div class="col-6 d-flex justify-content-start">
				<img src="/res/media/dcgsalogo.png" alt="DCGSA Logo" width="65" height="30">

				<!-- App List Dropdown Menu -->
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						Select App
					</button>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" href="#app1">App 1</a></li>
						<li><a class="dropdown-item" href="#app2">App 2</a></li>
					</ul>
				</div>
			</div>

			<div class="col-6 d-flex justify-content-end">
				<!-- Right: Dropdown Menu -->
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						{user.getName()}
					</button>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" href="#profile">Profile</a></li>
						<li><a class="dropdown-item" href="/">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
</div>
