<!-- Sub-header -->
<div class="bg-secondary text-white fixed-top py-2" style="top: 18px">
    <div class="row">
        <!-- Left side content -->
        <div class="col-6 d-flex justify-content-start">
            <img src="/res/media/dcgsalogo.png" alt="DCGSA Logo" width="65" height="30">

            <!-- App List Dropdown Menu -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false" onclick="toggleAppBar()">
                    Select App
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li></li>
                </ul>
            </div>
        </div>

        <div class="col-6 d-flex justify-content-end">
            <!-- Right: Dropdown Menu -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {user.getName()}
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="appselector" class="scrollmenu" style="display:none">
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-1.jpg" alt="Icon Image" onclick="loadApp('#App1');toggleAppBar();"> <p>App1</p> 
            <button class="corner-button" onclick="window.open('#App1', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-2.jpg" alt="Icon Image" onclick="loadApp('#App2');toggleAppBar();"> <p>App2</p> 
            <button class="corner-button" onclick="window.open('#App2', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-3.jpg" alt="Icon Image" onclick="loadApp('#App3');toggleAppBar();"> <p>App3</p> 
            <button class="corner-button" onclick="window.open('#App3', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-1.jpg" alt="Icon Image" onclick="loadApp('#App4');toggleAppBar();"> <p>App4</p>
            <button class="corner-button" onclick="window.open('#App4', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-2.jpg" alt="Icon Image" onclick="loadApp('#App5');toggleAppBar();"> <p>App5</p> 
            <button class="corner-button" onclick="window.open('#App5', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-3.jpg" alt="Icon Image" onclick="loadApp('#App6');toggleAppBar();"> <p>App6</p> 
            <button class="corner-button" onclick="window.open('#App6', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
        <div class="clickable-app m-0">
            <img src="/res/media/gazebo-1.jpg" alt="Icon Image" onclick="loadApp('#App7');toggleAppBar();"> <p>App7</p> 
            <button class="corner-button" onclick="window.open('#App7', '_blank');toggleAppBar();">&nearr;</button> 
        </div>
    </div> 
    <script src="/res/js/subheader-scripts.js"></script>
</div>